<h4>Thêm mới nhân viên</h4>
<hr />
<form [formGroup]="employee" (ngSubmit)="addEmployee()">
  <div class="form-group">
    <label for="name">Họ tên <span class="required">*</span></label>
    <input type="text" class="form-control" id="name" formControlName="name" />
    @if (employee.get('name')?.invalid && employee.get('name')?.touched) {
      <div>
        <span class="text-danger">Họ tên không được để trống</span>
      </div>
    }
  </div>
  <div class="form-group">
    <label for="gender">Giới tính <span class="required">*</span></label>
    <select class="form-control" id="gender" formControlName="gender">
      <option value="">Chọn giới tính</option>
      @for (gender of genders; track gender) {
        <option [value]="gender.id">
          {{ gender.name }}
        </option>
      }
    </select>
    @if (employee.get('gender')?.invalid && employee.get('gender')?.touched) {
      <div>
        <span class="text-danger">Giới tính không được để trống</span>
      </div>
    }
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Ngày sinh <span class="required">*</span></label>
    <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" />
    @if (employee.get('dateOfBirth')?.invalid && employee.get('dateOfBirth')?.touched) {
      <div>
        <span class="text-danger">Ngày sinh không được để trống</span>
      </div>
    }
  </div>
  <div class="form-group">
    <label for="department">Phòng ban <span class="required">*</span></label>
    <select class="form-control" id="department" formControlName="department">
      <option value="">Chọn phòng ban</option>
      @for (department of departments; track department) {
        <option [value]="department.id">
          {{ department.name }}
        </option>
      }
    </select>
    @if (employee.get('department')?.invalid && employee.get('department')?.touched) {
      <div>
        <span class="text-danger">Phòng ban không được để trống</span>
      </div>
    }
  </div>
  <div class="form-group">
    <label for="position">Chức vụ <span class="required">*</span></label>
    <select class="form-control" id="position" formControlName="position">
      <option value="">Chọn chức vụ</option>
      @for (position of positions; track position) {
        <option [value]="position.id">
          {{ position.name }}
        </option>
      }
    </select>
    @if (employee.get('position')?.invalid && employee.get('position')?.touched) {
      <div>
        <span class="text-danger">Chức vụ không được để trống</span>
      </div>
    }
  </div>
  <div class="form-group">
    <label for="salary">Lương <span class="required">*</span></label>
    <input type="text" class="form-control" id="salary" formControlName="salary" />
    @if (employee.get('salary')?.invalid && employee.get('salary')?.touched) {
      <div>
        <span class="text-danger">Lương không được để trống</span>
      </div>
    }
  </div>
  <button type="submit" class="btn btn-primary">Thêm mới</button>
</form>
