.intro-section {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.confirm-container {
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 100, 255, 0.1);
}

table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border: 1px solid #fff;
    border-spacing: 0;
    background-color: rgb(12, 13, 54);
}

th, td {
    padding: 5px;
    text-align: center;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.product-info img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
    border-radius: 5px
}

.btn-gradient {
    background: linear-gradient(to right, rgb(255, 64, 180), rgb(126, 43, 237));
    color: #fff;
    border-radius: 30px;
    width: 200px;
}

input.form-control {
    background-color: #fff;
}

input::placeholder {
    color: #4f4e4e !important;
}