.intro-section {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}

.product-category {
    width: 200px;
}


.product-item {
    background-color: rgb(19, 23, 42);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20PX;
    border: 1px solid rgb(35, 39, 61);
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: #fff;
}

.product-desc {
    color: rgb(173, 178, 203);
}

.product-warranty {
    color: rgb(242, 126, 212);
}

.product-price {
    color: #fff
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}