<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Detail Product</h1>
        <p>Sử dụng boostrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let image of product?.product_images; let i = index" class="carousel-item" [class.active]="i === currentImageIndex">
                        <div class="square-iamge">
                            <img [src]="image.image_url" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    
                    <button class="carousel-control-prev" data-bs-target="#carouselExample" role="button" data-slide="prev" (click)="prevImage()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-target="#carouselExample" role="button" data-slide="next" (click)="nextImage()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="thumbnail-conatiner">
                    <div *ngFor="let image of product?.product_images; let i = index" class="thumbnail-item" (click)="thumbnailClick(i)" [class.active]="i === currentImageIndex">
                        <img [src]="image.image_url" class="thumbnail-image" alt="...">
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-details">
                <h2>Thông tin chi tiết sản phẩm</h2>
            <p>Mô tả sản phẩm</p>
            <p>Giá: $99</p>
            <div class="product-actions">
                <button class="btn btn-primary" (click)="addToCart()">Thêm vào giỏ hàng</button>
                <button class="btn btn-success">Mua ngay</button>
            </div>
            <div class="product-quantity">
                <div class="border-wrapper">
                    <button class="decrement" (click)="decrementQuantity()">-</button>
                    <input type="text" [value]="quantity" >
                    <button class="increment" (click)="incrementQuantity()">+</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>