<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Detail Product</h1>
        <p>Sử dụng boostrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="square-iamge">
                            <img src="https://i.pinimg.com/1200x/fe/f7/b3/fef7b3cbaeb59afc974ab04dd20741e6.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Title</h2>
            <p>Description</p>
        </div>
    </div>
</div>