<h4>Quản lý hồ sơ nhân viên</h4>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Mã NV</th>
      <th>Họ tên</th>
      <th>Giới tính</th>
      <th>Ngày sinh</th>
      <th>Phòng ban</th>
      <th>Chức vụ</th>
      <th>Lương</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees; track employee) {
      <tr>
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ getGender(employee.gender) }}</td>
        <td>{{ employee.dateOfBirth | date: 'dd/MM/yyyy' }}</td>
        <td>{{ getDepartment(employee.department) }}</td>
        <td>{{ getPosition(employee.position) }}</td>
        <td>{{ employee.salary | currency: 'VND' }}</td>
        <td>
          <button class="btn btn-primary" (click)="detailEmployee(employee.id)">Xem chi tiết</button>
        </td>
      </tr>
    }
  </tbody>
</table>
